<div>
    <label>
        <f:format.stripTags>{field.label}{f:if(condition: field.required, then: ' *', else: '')}</f:format.stripTags>
    </label>
    <f:for each="{field.options}" as="option">
        <br>
        <f:form.checkbox id="{id}/{field.name}/{option.label}" class="multipleCheckbox" name="{option.value}"
            value="true" style="appearance: auto"
            required="{f:if(condition: field.required, then: 'true', else: '')}" />
        <label for="{id}/{field.name}/{option.label}">{option.label}</label>
    </f:for>
</div>

<script>
    $(document).ready(function () {
        var checkboxes = $('.multipleCheckbox');
        checkboxes.change(function () {
            if ($('.multipleCheckbox:checked').length > 0) {
                checkboxes.removeAttr('required');
            } else {
                checkboxes.attr('required', 'required');
            }
        });
    });
</script>