<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
  <f:if condition="{data.space_before_class} == ''">
    <f:then>
      <v:variable.set name="space_before_class" value="p-t-none" />
    </f:then>
    <f:else>
      <v:variable.set name="space_before_class" value="p-t-{data.space_before_class}" />
    </f:else>
  </f:if>
  <f:if condition="{data.space_after_class} == ''">
    <f:then>
      <v:variable.set name="space_after_class" value="p-t-none" />
    </f:then>
    <f:else>
      <v:variable.set name="space_after_class" value="p-b-{data.space_after_class}" />
    </f:else>
  </f:if>
  <span class="content--link" id="c{data.uid}"></span>
  <section class="section section-layout-{data.layout} {space_before_class} {space_after_class} bg--gray-light">
    <div class="section__wrapper">
      <div class="section__container">
        <f:render section="Main" optional="true" />
      </div>
    </div>
  </section>
</f:spaceless>

</html>